<% provide(:title, "About") %>
<h1>About</h1> 
    <h2> FPL Creator is an app to help budding managers select their ideal Fantasy Premier League team to challenge for
      success!
    </h2>
<h2>
  I created this website because I had finished 2nd place in my Fantasy Premier League group twice in a row, and I was
  tired of being pipped to the title! Each gameweek I modified my team trying to find the right formula to beat Jeev, but
  alas, I never managed to do it.
</h2>
<h2>
  But, when all seemed lost, a brilliant idea emerged! What if I had a tool which could quickly and easily build my team
  for me? And so, the FPL creator was born.
</h2>
<h2>
  You can use this site to help you pick out individual players to add to your team, or also generate a whole team
  in one go.
  Furthermore, it contains information on all the players in the game, so you can search out new players manually.
</h2>
<h2>If you need more information on the webpage, please check out the <%= link_to "Help page", help_path %></h2>