<% provide(:title, "Home") %>
<h1>Welcome to Aleph's App!</h1>
<h2> This is the home page for my individual project! I haven't decided what I'm building just yet, but it'll be fun :)
</h2>
<h2>If you want to see some dynamic content, head over to the <%= link_to "8Ball page", roll_path %>.</h2>