<% provide(:title, "Home") %>
<h1>Welcome to the FPL Creator!</h1>
<h2> Picking which players can join your team while staying under the budget is the very core of the Fantasy Premier League game. It's what makes it
  so much fun! However, it can also give you some agonizing choices and indecision can claw away at your brain. Here's
  an app to make it a little easier for you!
</h2>
<h2>If you want to pick a player for your team, head over to the <%= link_to "Player Selector page", roll_path %>.</h2>